<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysis</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
</head>
<body>
    <div class="container">
        <h1>Analysis</h1>
        <div class="row">
            <div class="col-md-6">
                <div id="pie"></div>
            </div>
            <div class="col-md-6">
                <div id="bar"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="line"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="scatter"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="heat"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="month_bar"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="sun"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var pie_graph = {{ pie | safe }};
        var bar_graph = {{ bar | safe }};
        var line_graph = {{ line | safe }};
        var scatter_graph = {{ scatter | safe }};
        var heat_graph = {{ heat | safe }};
        var month_bar_graph = {{ month_bar | safe }};
        var sun_graph = {{ sun | safe }};

        Plotly.plot('pie', pie_graph, {});
        Plotly.plot('bar', bar_graph, {});
        Plotly.plot('line', line_graph, {});
        Plotly.plot('scatter', scatter_graph, {});
        Plotly.plot('heat', heat_graph, {});
        Plotly.plot('month_bar', month_bar_graph, {});
        Plotly.plot('sun', sun_graph, {});
    </script>
</body>
</html>